In [1]:
# for 1 
k = int(input("k = "))
n = int(input("n = "))
for i in range(n):
    print(k, end=" ")

4 4 4 4 4

In [2]:
# for 2 
a = int(input("a = "))
b = int(input("b = "))
if a < b:
    for i in range(a, b+1):
        print(i)

1
2
3
4

In [3]:
# for 3 
a = int(input("a = "))
b = int(input("b = "))

for i in range(a+1, b):
    print(i)

5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63

In [4]:
# for 4 
a = float(input("narx = "))
for i in range(1,11):
    print(i, "kg konfet narxi", i*a, "sum")

1 kg konfet narxi 4.0 sum
2 kg konfet narxi 8.0 sum
3 kg konfet narxi 12.0 sum
4 kg konfet narxi 16.0 sum
5 kg konfet narxi 20.0 sum
6 kg konfet narxi 24.0 sum
7 kg konfet narxi 28.0 sum
8 kg konfet narxi 32.0 sum
9 kg konfet narxi 36.0 sum
10 kg konfet narxi 40.0 sum

In [5]:
# for 5 
a = float(input("narx = "))
for i in range(1,11):
    print(i/10, "kg konfet narxi", i*a/10, "sum")

0.1 kg konfet narxi 0.4 sum
0.2 kg konfet narxi 0.8 sum
0.3 kg konfet narxi 1.2 sum
0.4 kg konfet narxi 1.6 sum
0.5 kg konfet narxi 2.0 sum
0.6 kg konfet narxi 2.4 sum
0.7 kg konfet narxi 2.8 sum
0.8 kg konfet narxi 3.2 sum
0.9 kg konfet narxi 3.6 sum
1.0 kg konfet narxi 4.0 sum

In [6]:
#for 6 
# a = float(input("narx = "))
for i in range(12,21,2):
    print(i/10, "kg konfet narxi", i*a/10, "sum")

1.2 kg konfet narxi 4.8 sum
1.4 kg konfet narxi 5.6 sum
1.6 kg konfet narxi 6.4 sum
1.8 kg konfet narxi 7.2 sum
2.0 kg konfet narxi 8.0 sum

In [7]:
# for 7 
a = int(input("a = "))
b = int(input("b = "))
Sum = 0
for i in range(a,b+1):
    Sum += i
print("Summa", Sum)

Summa 0

In [8]:
# for 8 
a = int(input("a = "))
b = int(input("b = "))
kopaytma = 1
for i in range(a,b+1):
    kopaytma *= i
print("Ko'paytma", kopaytma)

Ko'paytma 20

In [9]:
# for 9 
a = int(input("a = "))
b = int(input("b = "))
Sum = 0
for i in range(a,b+1):
    Sum += i**2
print("Summa", Sum)

Summa 30

In [10]:
# for 10 
n = int(input("n = "))
s = 0
for i in range(1, n+1):
    s += 1/i
print(s)

1.5

In [11]:
# for 11 
n = int(input("n = "))
s = 0
for i in range(2*n):
    s += (n+i)**2
print(s)

492

In [12]:
# for 12 
n = int(input("n = "))
s = 1
for i in range(11,n*10):
    s *= i/10
    
print(s)

56211094800.477974

In [13]:
# for 13 
n = int(input("n = "))
s = 0
for i in range(11,(n+1)*10):
    s += (-1)**(i) * i/10
print(s)

-8.0

In [14]:
# for 14 
n = int(input("n = "))
s = 0
for i in range(1, 2*n,2):
    s += i
print(s)

16

In [15]:
# for 15 
a = int(input("a = "))
s = 1
for i in range(n):
    s *= a
print(s)

256

In [16]:
# for 16 
n = int(input("n = "))
a = int(input("a = "))
for i in range(1, n+1):
    print(a**i, end=" ")

2 4 8 16

In [17]:
# for 17 
n = int(input('n = '))
a1 = 0
a2 = 1
print(a1,a2,sep=" ", end=' ' )
for i in range(0,n,2):
    a1+=a2
    a2+=a1
    print(a1,a2,sep=" ", end=' ' )

0 1 1 2

In [21]:
# for 18 
n = int(input('n = '))
s = 0
for i in range(2,n,1):
    tub = False
    a = n - i
    k = int(i**0.5+1)
    
    for j in range(2,k):
        if i%j != 0:
            tub = True
        else:
            tub = False
            break
    
    if tub:
        k = int(a**0.5+1)
        for j in range(2,k):
            if a % j != 0:
                tub = True
            else:
                tub = False
                break
    
    if tub:
        print(i, a, sep=" ")
        break

5 19

In [24]:
# for  19 
n = int(input('n = '))
kopaytma = 1
for i in range(1, n + 1):
    kopaytma *= i
print("1 dan", n, "gacha sonlar koâ€˜paytmasi =", kopaytma)

1 dan 4 gacha sonlar koâ€˜paytmasi = 24

In [25]:
# for 20 
n = int(input('n = '))
for i in range(1,n+1,1):
    for j in range(1,i+1):
        print(j, end=" ")
        
    print()

1
1 2
1 2 3
1 2 3 4

In [26]:
# for 21 
n = int(input('n = '))
for i in range(1,n+1,1):
    for j in range(1,i+1):
        print(i, end=" ")
        
    print()

1
2 2
3 3 3
4 4 4 4

In [27]:
# for 22 
n = int(input("n = "))
x = float(input("x = "))

yigindi = 1 
fact = 1     
daraja = 1   
for i in range(1, n + 1):
    daraja *= x       # x^i
    fact *= i         # i!
    yigindi += daraja / fact

print("Yigâ€˜indi =", yigindi)

Yigâ€˜indi = 65.375

In [28]:
# for 23 
n = int(input("n = "))
x = float(input("x = "))

yigindi = 0
daraja = x
fact = 1

for i in range(0, n + 1):
    
    if i > 0:
        daraja *= x * x      
        fact *= (2 * i) * (2 * i + 1)  
    hadi = ((-1) ** i) * (daraja / fact)
    yigindi += hadi

print("Yigâ€˜indi =", yigindi)

Yigâ€˜indi = 0.8414710097001764

In [29]:
# for 24 
x = float(input("x = "))
s = 1
p = 1
j = 1
for i in range(1,2*n + 1, 2):
    p *= i
    s += (-1)**j * x**i / p
    p *= (i+1)
    j += 1
print(s)

2.3841269841269837

In [30]:
# for 25 
n = int(input("n = "))
x = float(input("x = "))
s = 0
for i in range(1,n+1):
    s += (-1)**(i-1) * x**i / i
print(s)

17.333333333333332

In [31]:
# for 26 
n = int(input("n = "))
x = float(input("x = "))
s = 0
j = 0
for i in range(1,2*n + 2,2):
    s += (-1)**j * x**i/i
    j += 1
print(s)

206441.50793650793

In [32]:
# for 27 
n = int(input("n = "))
x = float(input("x = "))
s = x
a = 1
b = 1
j = 1
k = 1
for i in range(3,2*n+2,2):
    a *= (i - 2)
    b *= j 
    s += a * x**i / (b*i)
    j *= 2*k
    k += 1
    
print(s)

41117.20393105158

In [34]:
# for 28 
n = int(input("n = "))
x = float(input("x = "))
s = 1 + x/2
a = 3
b = 1
j = 1
k = 1
ishora= 1
for i in range(2,n+1):
    b *= 2*i
    s += ishora * a * x**i / b
    a *= k
    k += 2
    j += 1
    ishora *= -1
print(s)

2.171875

In [35]:
# FOR 29 
n = int(input("n = "))
a = float(input("a = "))
b = int(input("b = "))
if a>b:
    a += b
    b = a - b
    a = a - b
c = (b-a)/(n)
for i in range(1,n):
    a += c
    print(a)

5.0
5.0
5.0

In [36]:
# for 30
from math import sin

n = int(input("n = "))
a = float(input("a = "))
b = int(input("b = "))
if a>b:
    a += b
    b = a - b
    a = a - b
c = (b-a)/(n)
for i in range(1,n):
    a += c
    print(1-sin(a))

1.9589242746631386
1.9589242746631386
1.9589242746631386

In [37]:
# for 31 
n = int(input("n = "))
a = 2
for i in range(1,n+1):
    a = 2 + 1/a
    print(a)

2.5
2.4
2.4166666666666665
2.413793103448276
2.414285714285714

In [38]:
# for 32 
n = int(input("n = "))
a = 1
for i in range(1,n+1):
    a = (a + 1)/i
    print(a)

2.0
1.5
0.8333333333333334
0.45833333333333337

In [39]:
# for 33
n = int(input("n = "))
a = 1 
b = 1
for i in range(1, n+1, 2):
    a += b
    b += a
    print(a,b,sep='\n')

2
3
5
8
13
21
34
55
89
144
233
377
610
987

In [40]:
# for 34
n = int(input("n = "))
a = 1
b = 2
for i in range(1,n+1,2):
    a = (a + 2*b)/3
    b = (b + 2*a)/3
    print(a, b,sep="\n")

1.6666666666666667
1.777777777777778

In [41]:
# for 3 5
n = int(input("n = "))
a = 1
b = 2
c = 3
for i in range(1,n+1,3):
    a = c + b - 2*a
    b = a + c - 2*b
    c = b + a - 2*c
    print(a,b,c,sep="\n")

3
2
-1
-5
-10
-13

In [42]:
# for 36 
n = int(input("n = "))
k = int(input("k = "))
s = 0
for i in range(1,n+1):
    s += i**k
print(s)

72354

In [43]:
# for 37 
n = int(input("n = "))
s = 0
for i in range(1,n+1):
    s += i**i
print(s)

1

In [44]:
# for 38
n = int(input("n = "))
s = 0
for i in range(1,n+1):
    s += i**(n-i+1)
print(s)

22

In [47]:
# for 39 
a = int(input("a = "))
b = int(input("b = "))
for i in range(a,b+1):
    for j in range(i):
        print(i)

7
7
7
7
7
7
7
8
8
8
8
8
8
8
8
9
9
9
9
9
9
9
9
9

In [49]:
# for 40 
a = int(input("a = "))
b = int(input("b = "))
k = 1
for i in range(a, b+1):
    for j in range(k):
        print(i)
    k += 1

4
5
5